QWidget, QObject {
    font-family: {{ text.family.default }};
    font-size: {{ text.size.default }};
}

/*************
  BASE WIDGETS
*/

QLabel {
    color: {{ text.color.primary }};
}
QLabel:disabled {
    color: {{ text.color.tertiary }};
}

QToolTip {
    background-color: {{ layer.color.low }};
    color: {{ text.color.primary }};
    padding: 15px 10px 15px 10px;
    border: 1px solid transparent;
    border-color: {{ layer.color.intermediate }};
    /* TODO see later with ProxyStyle */
    border-radius: {{ layer.border_radius.default }};
    font-family: {{ text.family.default }};
    font-size: {{ text.size.default }};
}

/*QDialog*/
QDialog {
    background-color: {{ layer.color.background }};
    color: {{ text.color.primary }};
}
QDialog QLabel {
    color: {{ text.color.primary }};
    margin-bottom: {{ spacing.paragraph }};
}
QDialog QLabel[htmltag="h1"] {
    font-size: {{ text.size.h1 }};
    font-weight: {{ text.weight.h1 }};
    margin-bottom: {{ spacing.large }};
}
/*QMessageBox*/
QMessageBox QFrame {
    padding: {{ spacing.normal }};
}
QMessageBox QLabel {
    qproperty-alignment: AlignCenter;
}

/*QPushButton*/
QPushButton {
    /*@formatter:off*/
    background-color: qlineargradient(
        x1:0, y1:1, x2:1, y2:0,
        stop:0.3 {{ layer.color.intermediate }}, stop:1 {{ layer.color.intermediate_lo|withalpha(0) }}
    );
    /*@formatter:on*/
    color: {{ text.color.primary }};
    font-weight: bold;
    border: 2px solid;
    border-color: {{ layer.color.high }};
    border-radius: {{ layer.border_radius.small }};
    padding: {{ spacing.normal }}
}
QPushButton:disabled {
    color: {{ text.color.tertiary }};
    background-color: transparent;
}
QPushButton:hover {
    background-color: {{ layer.color.intermediate_hi }};
}
QPushButton:pressed {
    background-color: {{ layer.color.low }};
}

/*QCheckBox*/
QCheckBox {
    color: {{ text.color.primary }};
}
QCheckBox::indicator,
QTreeWidget::indicator {
    width: {{ size.icon_default }};
    height: {{ size.icon_default }};
    border: 1px solid transparent;
    border-radius: {{ layer.border_radius.default }};
}
QCheckBox::indicator:checked,
QTreeWidget::indicator:checked {
    image: url("{{ icon.box_checked }}");
    background-color: {{ layer.color.accent }};
}
QCheckBox::indicator:unchecked,
QTreeWidget::indicator:unchecked {
    image: unset;
    border: 1px solid;
    border-color: {{ layer.color.highest }};
}
QCheckBox::indicator:unchecked:disabled,
QTreeWidget::indicator:unchecked:disabled {
    border-color: {{ layer.color.high }};
}
QCheckBox::indicator:unchecked:hover,
QTreeWidget::indicator:unchecked:hover {
    background-color: {{ layer.color.intermediate_hi }};
}
QCheckBox::indicator:indeterminate,
QTreeWidget::indicator:indeterminate {
    image: url("{{ icon.box_indeterminate }}");
    background-color: {{ layer.color.accent }};
}
QCheckBox:disabled {
    color: {{ text.color.tertiary }};
}
QCheckBox::indicator:checked:disabled,
QTreeWidget::indicator:checked:disabled,
QCheckBox::indicator:indeterminate,
QTreeWidget::indicator:indeterminate {
    background-color: {{ layer.color.intermediate }};
    border-color: {{ layer.color.high }};
}

/*ScrollArea (used in QTreeWidget)*/
QAbstractScrollArea {
    background-color: transparent;
    border: unset;
}
/*QTreeWidget*/
QTreeWidget,
QTreeWidget::branch {
    background-color: transparent;
    alternate-background-color: transparent;
}
QTreeWidget {
    alternate-background-color: {{ layer.color.intermediate }};
    color: {{ text.color.primary }};
    border: none;
    padding: {{ spacing.normal }};
    outline: unset;
}
QTreeWidget QHeaderView {
    margin-right: {{ spacing.large }};
    border-bottom: 1px solid;
    border-color: {{ layer.color.high }};
}
QTreeWidget QHeaderView::section {
    background: transparent;
    color: {{ text.color.secondary }};
    border: unset;
    border-right: 1px solid;
    border-color: {{ layer.color.high }};
    padding-left: {{ spacing.small }};
    margin-top: {{ spacing.small }};
    margin-bottom: {{ spacing.small }};
}

QTreeWidget QHeaderView::down-arrow,
QTreeWidget QHeaderView::up-arrow {
    height: 16px;
    width: 16px;
    margin-right: {{ spacing.small }};
    subcontrol-origin: margin;
    subcontrol-position: center right;
}
QTreeWidget QHeaderView::down-arrow {
    image: url("{{ icon.down_arrow }}");
}
QTreeWidget QHeaderView::up-arrow {
    image: url("{{ icon.up_arrow }}");
}
QTreeWidget::item {
    color: {{ text.color.primary }};
    padding: {{ spacing.small }};
}
/*style when selected*/
/*@formatter:off*/
QTreeWidget::item:focus:!selected {
/*@formatter:on*/
    background-color: {{ layer.color.intermediate_hi }};
}
QTreeWidget::item:selected {
    border-top: 1px solid;
    border-bottom: 1px solid;
{#background-color: {{ layer.color.intermediate_hi }};#}
}
QTreeWidget::item:selected:first {
    border-left: 1px solid;
    border-top-left-radius: {{ layer.border_radius.default }};
    border-bottom-left-radius: {{ layer.border_radius.default }};
}

QTreeWidget::item:selected:last {
    border-right: 1px solid;
    border-top-right-radius: {{ layer.border_radius.default }};
    border-bottom-right-radius: {{ layer.border_radius.default }};
}
QTreeWidget::item:selected,
QTreeWidget::item:selected:last,
QTreeWidget::item:selected:first {
    border-color: {{ layer.color.accent }};
}

QTreeWidget::item::indicator {
    /*for some weird reason we have 2 checkbox superposed that are applied ?*/
    image: unset;
}
/*XXX: note that the QTreeWidget indicator is styled upper along the QCheckBox*/
QTreeWidget::indicator {
    width: 16px;
    height: 16px;
}
QTreeWidget::branch {
    border: unset;
    padding: 5px;
}
QTreeView::branch:open {
    image: url("{{ icon.down_arrow }}");
}
QTreeView::branch:closed:has-children {
    image: url("{{ icon.right_arrow }}");
}

/*QDockWidget*/
QDockWidget {
    color: {{ text.color.secondary }};
}

/*QMainWindow*/
QMainWindow {
    background-color: {{ layer.color.background }};
}
QMainWindow::separator {
    width: {{ spacing.large }};
    height: {{ spacing.large }};
}

/*QMenuBar*/
QMenuBar {
    background-color: transparent;
    color: {{ text.color.primary }};
}
QMenuBar::item {
    padding: {{ spacing.normal }};
}
QMenuBar::item:selected {
    background-color: {{ layer.color.intermediate_hi }};
    border-bottom: 1px solid;
    border-color: {{ layer.color.high }};
}
QMenuBar::item:pressed {
    border: unset;
}
/*QMenu*/
QMenu {
    background-color: {{ layer.color.background }};
    color: {{ text.color.primary }};
    border: 1px solid;
    border-color: {{ layer.color.high }};
    padding: {{ spacing.small }};
}
QMenu:disabled {
    color: {{ text.color.tertiary }};
}
QMenu::item {
    padding: {{ spacing.small }};
    padding-left: {{ spacing.normal }};
}
QMenu::item:selected {
    background-color: {{ layer.color.intermediate_hi }};
    border-left: 2px solid;
    border-color: {{ layer.color.accent }};
}
QMenu::separator {
    height: 1px;
    margin: {{ spacing.smaller }};
    background: {{ layer.color.high }};
}

/*QComboBox*/
QComboBox {
    color: {{ text.color.primary }};
    font-size: {{ text.size.small }};
    background-color: {{ layer.color.low }};
    border: 1px solid;
    border-color: {{ layer.color.high }};
    border-radius: {{ layer.border_radius.default }};
    padding: {{ spacing.smaller }};
    padding-left: {{ spacing.large }};
}
QComboBox:disabled {
    color: {{ text.color.tertiary }};
    background-color: transparent;
}
QComboBox:on {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
QComboBox::drop-down {
    background: transparent;
    width: 40px;
}
QComboBox::down-arrow {
    image: url("{{ icon.down_arrow }}");
}
QComboBox::down-arrow:on {
    image: url("{{ icon.up_arrow }}");
}
/*QComboBox under popup*/
QComboBox QAbstractItemView {
    color: {{ text.color.primary }};
    background-color: {{ layer.color.low }};
    border: 1px solid;
    border-color: {{ layer.color.high }};
    border-top: unset;
    border-radius: {{ layer.border_radius.default }};
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    padding: {{ spacing.normal }};
    padding-left: {{ spacing.huge }};
    outline: unset;
}
QComboBox QAbstractItemView::item {
    padding: {{ spacing.smaller }};
}
QComboBox QAbstractItemView::item:focus {
    border-left: 1px solid;
    border-color: {{ layer.color.accent }};
    font-weight: 900;
}

/*QScrollBar*/
QScrollBar:vertical, QScrollBar:horizontal {
    background: {{ layer.color.low_hi }};
    border: none;
    border-radius: {{ layer.border_radius.default }};
}
QScrollBar:vertical {
    width: 18px;
    margin: 22px 0px 22px 0px;
}
QScrollBar:horizontal {
    height: 18px;
    margin: 0px 22px 0px 22px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    /*remove "dotted" pattern*/
    background: none;
}
QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
    background-color: {{ layer.color.intermediate }};
    border-radius: {{ layer.border_radius.default }};
}
QScrollBar::handle:vertical:disabled,
QScrollBar::handle:horizontal:disabled {
    background-color: transparent;
    border: 1px solid;
    border-color: {{ layer.color.high }};
}
QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background-color: {{ layer.color.high }};
}
QScrollBar::handle:vertical {
    min-height: 20px;
    margin: 3px;
}
QScrollBar::handle:horizontal {
    min-width: 20px;
    margin: 3px;
}
QScrollBar::add-line:vertical {
    background-color: transparent;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    background-color: transparent;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal {
    background-color: transparent;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    background-color: transparent;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow {
    background: url("{{ icon.up_arrow }}");
    width: 10px;
    background-repeat: no-repeat;
    background-position: center;
}
QScrollBar::down-arrow {
    background: url("{{ icon.down_arrow }}");
    width: 10px;
    background-repeat: no-repeat;
    background-position: center;
}
QScrollBar::left-arrow {
    background: url("{{ icon.left_arrow }}");
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
}
QScrollBar::right-arrow {
    background: url("{{ icon.right_arrow }}");
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

{% set SwitchButtonWidth = 50 %}
{% set SwitchButtonHeight = 25 %}
QWidget.SwitchButton {
    background-color: {{ layer.color.high }};
    min-width: {{ SwitchButtonWidth }}px;
    max-width: {{ SwitchButtonWidth }}px;
    min-height: {{ SwitchButtonHeight }}px;
    border-radius: {{ SwitchButtonHeight/2.2 }}px;
}
QWidget.SwitchButton:disabled {
    background-color: {{ layer.color.low }};
}
/*@formatter:off*/
QWidget.SwitchButton:checked:!disabled {
/*@formatter:on*/
    background-color: {{ layer.color.accent }};
}
QWidget.SwitchButton::item {
    background-color: {{ layer.color.low }};
    border-radius: {{ (SwitchButtonHeight/2 + 6)//2 }}px;
    min-width: {{ SwitchButtonHeight/2 + 4 }}px;
    min-height: {{ SwitchButtonHeight/2 }}px;
    margin: 5px;
}
QWidget.SwitchButton::item:checked {
    background-color: {{ layer.color.background }};
}
QWidget.SwitchButton::item:disabled {
    background-color: {{ layer.color.background }};
}


/*************
  CUSTOM WIDGETS
*/

/* StylesheetIcon */
QWidget.StylesheetIcon, QWidget.StylesheetIconButton {
    image-position: center;
    min-width: {{ size.icon_default }};
    min-height: {{ size.icon_default }};
    max-width: {{ size.icon_default }};
    max-height: {{ size.icon_default }};
    background-color: transparent;
    padding: 2px;
    border-radius: {{ layer.border_radius.default }};
}
QWidget.StylesheetIconButton {
    /*we use the border as a trick to scale down/up the icon on hover*/
    border: 2px solid transparent;
}
QWidget.StylesheetIconButton:hover,
QWidget.StylesheetIcon[icon-name="help"]:hover {
    border: unset;
    background-color: {{ layer.color.intermediate_hi }};
}
QWidget.StylesheetIconButton:pressed {
    background-color: {{ layer.color.low }};
}
QWidget.StylesheetIcon[icon-name="main-logo"],
QWidget.StylesheetIconButton[icon-name="main-logo"] {
    image: url("{{ icon.header_logo }}");
}
QWidget.StylesheetIcon[icon-name="root-add"],
QWidget.StylesheetIconButton[icon-name="root-add"] {
    image: url("{{ icon.plus }}");
}
QWidget.StylesheetIcon[icon-name="root-remove"],
QWidget.StylesheetIconButton[icon-name="root-remove"] {
    image: url("{{ icon.minus }}");
}
QWidget.StylesheetIcon[icon-name="root-delete"],
QWidget.StylesheetIconButton[icon-name="root-delete"] {
    image: url("{{ icon.folder_remove }}");
}
QWidget.StylesheetIcon[icon-name="refresh"],
QWidget.StylesheetIconButton[icon-name="refresh"] {
    image: url("{{ icon.refresh }}");
}
QWidget.StylesheetIcon[icon-name="help"],
QWidget.StylesheetIconButton[icon-name="help"] {
    image: url("{{ icon.help }}");
}

/* main window padding */
QFrame.InnerCentralWidget {
    margin: {{ spacing.normal }};
    margin-top: unset;
}

QFrame.TextOverlayWidget {
    background-color: {{ layer.color.accent|withalpha(0.2) }};
    alternate-background-color: black;
    color: {{ text.color.primary }};
    border-radius: {{ layer.border_radius.default }};
    font-weight: bold;
}

/* control bar */
{# XXX: we need to style the AppTitle like the left part of the widget
    and the MainControlBarWidget like the right part.
#}
QFrame.MainControlBarWidget {
    background-color: {{ layer.color.intermediate_lo }};
    border-style: solid;
    border-color: {{ layer.color.high }};
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-right-radius: {{ layer.border_radius.default }};
    border-bottom-right-radius: {{ layer.border_radius.default }};
    padding: {{ spacing.large }};
}
QFrame.MainControlBarWidget QLabel {
    color: {{ text.color.secondary }};
    font-size: {{ text.size.small }};
}
QFrame.AppTitleWidget {
    background-color: {{ layer.color.intermediate_lo }};
    border-style: solid;
    border-color: {{ layer.color.high }};
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: {{ layer.border_radius.default }};
    border-bottom-left-radius: {{ layer.border_radius.default }};
    padding-left: {{ spacing.normal }};
}
QFrame.AppTitleWidget QLabel {
    color: {{ text.color.primary }};
    font-size: 20pt;
    font-weight: 200;
}
QFrame.AppTitleWidget QWidget.StylesheetIcon {
    min-width: 32px;
    min-height: 32px;
    max-height: 32px;
}

/* hierarchy browser*/
{# XXX: we need to style the FrmbHierarchyBrowserDock like the top part of
    a widget and the HierarchyBrowserWidget like the bottom part.
#}
QDockWidget.FrmbHierarchyBrowserDock::title {
    border: 1px solid;
    border-color: {{ layer.color.high }};
    border-bottom-width: 0;
    border-top-left-radius: {{ layer.border_radius.default }};
    border-top-right-radius: {{ layer.border_radius.default }};
    padding: {{ spacing.small }};
    text-align: left;
}
QFrame.HierarchyBrowserWidget {
    padding: {{ spacing.normal }};
    border: 1px solid;
    border-color: {{ layer.color.high }};
    border-top-width: 0;
    border-bottom-left-radius: {{ layer.border_radius.default }};
    border-bottom-right-radius: {{ layer.border_radius.default }};
}
QDockWidget.FrmbHierarchyBrowserDock::title,
QFrame.HierarchyBrowserWidget,
QFrame.HierarchyBrowserWidget QTreeWidget,
QFrame.HierarchyBrowserWidget QTreeWidget QHeaderView::section,
QFrame.HierarchyBrowserWidget QAbstractScrollArea {
    background-color: {{ layer.color.background }};
}
QFrame.HierarchyBrowserWidget QTreeWidget {
    padding: unset;
}

/* dialogs */
QFrame.IssueDialogFrame, QFrame.AboutDialogFrame {
    padding: {{ spacing.huge }};
}
QFrame.ContextWidget QLabel {
    font-family: {{ text.family.monospace }};
    background-color: {{ layer.color.low }};
    padding: {{ spacing.normal }};
    border: 1px solid;
    border-color: {{ layer.color.high }};
    border-radius: {{ layer.border_radius.default }};
}
QTreeWidget.DependencyViewerTreeWidget {
    background-color: {{ layer.color.intermediate }};
    border: 1px solid;
    border-color: {{ layer.color.high }};
    border-radius: {{ layer.border_radius.default }};
}