QWidget, QObject {
    font-family: {{ text.family.default }};
    font-size: {{ text.size.default }};
}
/*************
  BASE WIDGETS
*/
/*QDialog*/
QDialog {
    background-color: {{ layer.color.background }};
    color: {{ text.color.primary }};
}
QDialog QLabel {
    color: {{ text.color.primary }};
    margin-bottom: {{ spacing.paragraph }};
}
QDialog QLabel[htmltag="h1"] {
    font-family: {{ text.family.thin }};
    font-size: {{ text.size.h1 }};
    font-weight: {{ text.weight.h1 }};
    margin-bottom: {{ spacing.large }};
}
QFrame.IssueDialogFrame, QFrame.AboutDialogFrame {
    padding: {{ spacing.huge }};
}
/*QPushButton*/
QPushButton {
    background-color: {{ layer.color.low }};
    color: {{ text.color.primary }};
    border-radius: {{ layer.border_radius.default }};
    padding: {{ spacing.normal }};
    border: 1px solid {{ layer.color.intermediate_lo }};
}
QPushButton:hover {
    background-color: {{ layer.color.low_hi }};
    border-color: {{ layer.color.intermediate }};
}
QPushButton:pressed {
    background-color: {{ layer.color.low }};
}

/*Scroll*/
QScrollBar:vertical {
    background: {{ layer.color.background }};
    border: none;
    width: 12px;
    margin: 22px 0px 22px 0px;
}
/*remove "dotted" pattern*/
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
QScrollBar::handle:vertical {
    border-bottom: 1px solid {{ layer.color.intermediate }};
    border-top: 1px solid {{ layer.color.intermediate }};
    background-color: {{ layer.color.background }};
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    background-color: transparent;
    border-style: solid;
    border-top: 1px solid {{ layer.color.intermediate }};
    height: 16px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    background-color: transparent;
    border-style: solid;
    border-bottom: 1px solid {{ layer.color.intermediate }};
    height: 16px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow {
    background: url("{{ get_icon_path(icon.plus)|topath }}");
    width: 6px;
    height: 6px;
    /*background-clip: padding;
    background-origin: content;*/
    background-repeat: no-repeat;
    background-position: center;
}
QScrollBar::down-arrow {
    background: url("{{ get_icon_path(icon.minus)|topath }}");
    width: 6px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
}

/*QTreeWidget*/
QTreeWidget {
    alternate-background-color: {{ layer.color.low_hi }};
    background-color: {{ layer.color.low }};
    color: {{ text.color.primary }};
    border: none;
    padding: {{ spacing.normal }};
    border-radius: {{ layer.border_radius.default }};
}
QTreeWidget QHeaderView::section {
    background-color: {{ layer.color.low }};
    color: {{ text.color.primary }};
    border-style: solid;
    border-bottom: 1px solid {{ layer.color.intermediate }};
    border-top: 1px solid {{ layer.color.intermediate }};
}
QTreeWidget::item {
    padding: {{ spacing.small }};
}
/*QGraphics*/
QGraphicsView {
    border: unset;
}
/*QMenu*/
QMenu {
    color: {{ text.color.primary }};
    background-color: {{ layer.color.background }};
    padding: 15px 10px 15px 10px;
    border: 1px solid {{ text.color.secondary }};
}
QMenu::item {
    background-color: transparent;
    border-left: 1px solid transparent;
    padding: 5px 15px 5px 15px;
}
QMenu::item:selected {
    background-color: {{ layer.color.low }};
    border-left: 1px solid {{ text.color.secondary }};
}
QToolTip {
    background-color: {{ layer.color.low }};
    color: {{ text.color.tooltip }};
    padding: 15px 10px 15px 10px;
    border: 1px solid {{ layer.color.intermediate }};
    font-family: {{ text.family.default }};
    font-size: {{ text.size.default }};
}
QDockWidget {
    color: {{ text.color.tertiary }};
}
QDockWidget::title {
    background: {{ layer.color.background }};
    color: {{ text.color.secondary }};
    border-bottom: 1px solid {{ layer.color.intermediate }};
    margin: 0 {{ spacing.normal }} 0 {{ spacing.normal }};
    padding: {{ spacing.small }} 0 {{ spacing.small }} 0;
}
